.carousel-inner img {
    width: 100%;
    height: 100%;
}

.banner-row {
    padding-top: 2%;
}

.test {
    padding: 1%;
    height: 200px;
    width: 100%;
}

.featured-products {
    padding-top: 2%;
}

.laptopStudents {
    padding-top: 2%;
}

.embed-responsive .card-img-top {
    object-fit: contain;
}