<div class="container-fluid " style="margin-top: 2%;">
    <div class="row">
        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <h5>My Shopping Cart</h5>

            <div class="card " *ngFor="let item of cartItems; let i = index;">
                <div class="row" style="margin:10px;">
                    <div class="col">
                        <div class="embed-responsive embed-responsive-1by1">
                        <img class="img-fluid embed-responsive-item" (click)="goToProd(item)" *ngIf="item.productImg"  src={{item.productImg}}  alt="Card image cap">
                        <img class="img-fluid embed-responsive-item" (click)="goToProd(item)" *ngIf="item.prodURL"  src={{item.prodURL}}  alt="Card image cap">
                    </div>
                    </div>
                    
                        <div class="col " style="margin: auto;">
                            <div class="card-body">
                                <h5 class="card-title">{{item.Product}}</h5>
                                <p class="card-text">{{item.Company}}.</p>
    
                            </div>
                        </div>
                        <div class="col " style="margin: auto;">
                            <div class="card-body">
                                <p class="card-text">Price/Day: CAD$ {{item.perDay}}</p>
                            </div>
                        </div>
                      
                    
                    
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col " >
                            <div class="">
                              <mat-form-field style="width: 100%;">
                                <input matInput [min]="startDate" id="startdate{{i}}" [(ngModel)]="cartItems[i].fromDate" name="startdate"
                                  #startdate="ngModel" [matDatepicker]="picker" (dateChange)="addStartEvent('change', $event, cartItems[i].cartid)" placeholder="From date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                              </mat-form-field>
                              <div
                                *ngIf="(startDateError && startdate.invalid)||(startdate.invalid &&( startdate.dirty || startdate.touched))"
                                class="alert alert-danger">
                                <div *ngIf="startdate.errors.required" style="font-size:x-small">
                                  From Date required
                                </div>
                              </div>
                          </div>
                    </div>
                    <div class="col ">
                            <div class="">
                              <mat-form-field style="width: 100%;">
                                <input matInput [min]="endDate" id="enddate{{i}}" [(ngModel)]="cartItems[i].toDate" name="enddate"
                                  #enddate="ngModel" [matDatepicker]="picker2" (dateChange)="addEndEvent('change', $event, cartItems[i].cartid)" 
                                  placeholder="To date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                              </mat-form-field>
                              <div *ngIf="(endDateError && enddate.invalid)||(enddate.invalid &&( enddate.dirty || enddate.touched))"
                                class="alert alert-danger">
                                <div *ngIf="enddate.errors.required" style="font-size:x-small">
                                  To Date required
                                </div>
                              </div>
                            </div>
                    </div>
                    <div class="col justify-content-md-around">
                     </div>
                </div>
                <div class="row" style="margin:10px;">
                    <div class="col ">
                        <mat-form-field>
                            <mat-label>Quantity: {{cartItems[i].quantity}}</mat-label>
                            <mat-select  [formControl]="quantities"  (selectionChange)="onQuantityChange($event,cartItems[i].cartid)">
                                <mat-option *ngFor="let quantity of cartItems[i].maxQuantity" [value]="quantity">
                                    {{quantity}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Software (Optional): {{cartItems[i].softwares}}</mat-label>
                            <mat-select [formControl]="toppings"  (selectionChange)="onSoftwareChange($event,cartItems[i].cartid )"  multiple>
                                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <button mat-button style="float: right;" (click)="deleteProduct(cartItems[i].cartid,cartItems[i].productID)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>




        </div>

        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <h5>Looking for more options?</h5>

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" *ngFor="let prom of promotions">
                        <div class="card" style="width: 18rem;">

                              
                            <button mat-button (click)="goToProd(prom)">
                                <div class="embed-responsive embed-responsive-1by1">
                                <img class="card-img-top embed-responsive-item"
                                    src="{{prom.productImg}}" alt="Card image cap" /></div></button>
                            <div class="card-body">
                                <button mat-button (click)="goToProd(prom)" >
                                    <h5 class="card-title">{{prom.Company}}</h5>
                                </button>
                                <p class="card-text">{{prom.TypeName}}</p>
                                <button class="btn btn-dark" style="float:right;margin-right: 2px;"
                                    (click)="addToCartFromExplore(prom)">Add to Cart</button>
                            </div>
                       
                        </div>
                    </div>
                    
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <br>

            <div class="card" style="width: 18rem;">
                <div class="card-body" *ngIf="cartVal">
                    <h5 class="card-title">Price details</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card Total</h6>
                    <p class="card-text">CAD {{cartTotalPrice}}</p>
                    <button class="card-link" class="btn btn-dark" style="float:right;" (click)="checkOutCart()">Check
                        Out
                        Cart</button>
                </div>
                <div class="card-body" *ngIf="!cartVal">
                    <h5 class="card-title">No Items in the cart</h5>
                    
                </div>
            </div>






        </div>
    </div>
</div>