<div class="container py-3">
    <div class="row">
        <form class="customForm needs-validation" novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <label for="fname">*First Name </label>
                    <input type="text" name=firstname class="form-control" id="fname" name="firstname"
                        placeholder="First Name" formControlName="firstName">

                    <div *ngIf="(registrationForm.get('firstName').invalid && onInit) ||
                (registrationForm.get('firstName').invalid && (registrationForm.get('firstName').dirty ||
                registrationForm.get('firstName').touched))" class="alert alert-danger">
                        <div *ngIf="registrationForm.get('firstName').errors.required">
                            Please provide First Name
                        </div>
                        <div *ngIf="registrationForm.get('firstName').errors.maxlength">
                            Name cannot be more than 30 characters long.
                        </div>
                        <div *ngIf="registrationForm.get('firstName').errors.minlength">
                            Name must be at least 2 characters long.
                        </div>
                    </div>
                </div>
                <!-- <div class="invalid-feedback">Please provide First Name</div> -->


                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xl-6">
                    <label for="lname">*Last Name</label>
                    <input type="text" name=lastname class="form-control" id="lname" placeholder="Last Name"
                        formControlName="lastName">

                    <div *ngIf="(registrationForm.get('lastName').invalid && onInit) ||
                    (registrationForm.get('lastName').invalid && (registrationForm.get('lastName').dirty ||
                                   registrationForm.get('lastName').touched))" class="alert alert-danger">
                        <div *ngIf="registrationForm.get('lastName').errors.required">
                            Please provide Last Name
                        </div>
                        <div *ngIf="registrationForm.get('lastName').errors.maxlength">
                            Name cannot be more than 30 characters long.
                        </div>
                        <div *ngIf="registrationForm.get('lastName').errors.minlength">
                            Name must be at least 2 characters long.
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <label for="username">*E-Mail</label>
                <input type="email" name="username" id="username" placeholder="Email" class="form-control"
                    formControlName="email">
                <div *ngIf="(registrationForm.get('email').invalid && onInit) || (registrationForm.get('email').invalid && (registrationForm.get('email').dirty ||
                registrationForm.get('email').touched)) " class="alert alert-danger">
                    <div *ngIf="registrationForm.get('email').errors.required">
                        Please provide Email address
                    </div>
                </div>

            </div>

            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <label for="password">*Password</label>
                <input type="password" name="password" id="password" placeholder="Password" class="form-control"
                    formControlName="password">
                <div *ngIf="(registrationForm.get('password').invalid && onInit) || 
                (registrationForm.get('password').invalid && (registrationForm.get('password').dirty ||
                               registrationForm.get('password').touched))" class="alert alert-danger">
                    <div *ngIf="registrationForm.get('password').errors.required">
                        Password can't be empty
                    </div>
                    <div *ngIf="registrationForm.get('password').errors.maxlength">
                        Password can be maximum of 20 characters.
                    </div>
                    <div *ngIf="registrationForm.get('password').errors.minlength">
                        Password must be at least 6 characters long.
                    </div>
                </div>

                <!-- <div class="invalid-feedback">Password can't be empty </div> -->

            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <label for="address">Address</label>
                <input type="text" id="addressLine1" placeholder="Street Address" class="form-control"
                    formControlName="addressLine1">

            </div>

            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <label for="address2">Address2</label>
                <input type="text" id="addressLine2" placeholder="Apartment or studio " class="form-control"
                    formControlName="addressLine2">
            </div>

            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xl-12">
                <label for="mobileNumber">Mobile Number</label>
                <input type="tel" id="phoneNumber" placeholder="Mobile Number " minlength="7" maxlength="10" class="form-control"
                    formControlName="phoneNumber">
            </div>

            <div *ngIf="(registrationForm.get('phoneNumber').invalid && onInit) || 
                (registrationForm.get('phoneNumber').invalid && (registrationForm.get('phoneNumber').dirty ||
                               registrationForm.get('phoneNumber').touched))" class="alert alert-danger">
                <div *ngIf="registrationForm.get('phoneNumber').errors.required">
                    Phone Number can't be empty
                </div>
                <div *ngIf="registrationForm.get('phoneNumber').errors.minlength">
                    Phone Number has to be 7 Digits.
                </div>

                <div *ngIf="registrationForm.get('phoneNumber').errors.maxlength">
                    Phone Number has to be 10 Digits.
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="state">State</label>
                    <select id="state" class="form-control" formControlName="state">
                        <option selected>Choose</option>
                        <option>AB</option>
                        <option>BC</option>
                        <option>MB</option>
                        <option>NL</option>
                        <option>NT</option>
                        <option>NS</option>
                        <option>NU</option>
                        <option>ON</option>
                        <option>PE</option>
                        <option>QC</option>
                        <option>SK</option>
                        <option>YT</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <label for="ZIP">ZIP</label>
                    <input text="text" class="form-control" id="postcode" formControlName="postcode">
                </div>
            </div>


            <!-- <div class="form-group">

            <div class="form-check">

                <input type="checkbox" class="form-check-input" id="terms" data-toggle="modal" data-target="#termsModal">
                <label for="terms" class="form-check-label">Accept terms &amp; Conditions</label>
            </div>

            <div class="modal fade" id="termsModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Terms and Conditions</h3>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Sample User Terms and Condtions</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

            <button type="submit" class="btn btn-outline-primary" (click)="register()">Sign Up!</button>
        </form>
    </div>
</div>