<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="laptopForm">
        <form [formGroup]="laptopForm">
            <ng-template matStepLabel>Laptop Details</ng-template>
            <div class="row">

                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Company" formControlName="Company" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Product" formControlName="Product" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="TypeName" formControlName="TypeName" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Weight" formControlName="Weight" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Price" formControlName="Price" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Img link" formControlName="productImg" required>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="techForm">
        <form [formGroup]="techForm">
            <ng-template matStepLabel>Laptop Specifications</ng-template>
            <div class="row">

                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Ram" formControlName="Ram" required>
                    </mat-form-field> GB
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="SSD" formControlName="Memory" required>
                    </mat-form-field> GB
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Cpu" formControlName="Cpu" required>
                    </mat-form-field> GB
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Gpu" formControlName="Gpu" required>
                    </mat-form-field> 
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="ScreenResolution" formControlName="ScreenResolution" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="Inches" formControlName="Inches" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 col-sm-3">
                    <mat-form-field>
                        <input matInput placeholder="OpSys" formControlName="OpSys" required>
                    </mat-form-field>
                </div>
                
            </div>
            <div>
                <button mat-raised-button matStepperPrevious color="accent">Previous</button>&nbsp;&nbsp;
                <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
        </form>
    </mat-step>
    
        <!-- <mat-step [stepControl]="offerForm">
            <form [formGroup]="offerForm">
                <ng-template matStepLabel>Offer Details</ng-template>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <mat-form-field>
                            <input matInput placeholder="discount" formControlName="discount" required>
                        </mat-form-field> CAD/day
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="From date" formControlName="fromDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field> 
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="To date" formControlName="toDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field> 
                    </div>
                </div>
                <div>
                    <button mat-raised-button matStepperPrevious color="accent">Previous</button> &nbsp;&nbsp;
                    <button mat-raised-button matStepperNext color="primary">Next</button>
                </div>
            </form>
        </mat-step> -->
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        Add this laptop?
        <div>
            <button mat-raised-button matStepperPrevious color="accent">Previous</button>&nbsp;&nbsp;
            <button mat-raised-button (click)="stepper.reset()" color="primary">Reset</button>&nbsp;&nbsp;
            <button mat-raised-button matTooltip="On click will add laptop to database and navigate to the product page"(click)="addLaptop()" color="warn">Add</button>
        </div>
    </mat-step>
</mat-vertical-stepper>